<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>
    {% block title %}
    {% endblock title %}
    </title>
</head>
<body>
    <header class="header">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img class='header_img' src="{{ url_for('static', filename='img/man.png') }}" alt="bodybuilder">
            </a>
  
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
              {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('training.create') }}" class="nav-link px-2 text-white">Create training</a></li>
              {% endif %}
            </ul>
            
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
              
              {% if current_user.is_authenticated %}
              <span>Добро пожаловать, {{ current_user.login }}</span>
              <a href="{{ url_for('user.logout') }}"><button type="button" class="btn btn-warning">Logout</button></a>
              {% else %}
              <a href="{{ url_for('user.login') }}"><button type="button" class="btn btn-warning">Login</button></a>
              <a href="{{ url_for('user.register') }}"><button type="button" class="btn btn-outline-light me-2">Sign-up</button></a>
              {% endif %}
            </div>
          </div>
    </header>
    <div class="page">
        <main class="content">
          {% include 'main/flash.html' %}
          <h1>
            {{ self.title() }}
          </h1>
          <div>
            {% block content %}
            
            {% endblock content %}
          </div>
        </main>
    
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img class='header_img' src="{{ url_for('static', filename='img/man.png') }}" alt="bodybuilder">
              </a>
              <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
            </div>
        
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
              <li class="ms-3"><a class="text-body-secondary" href="#"><img class='header_img' src="{{ url_for('static', filename='img/github.png') }}" alt="github"></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="#"><img class='header_img' src="{{ url_for('static', filename='img/leetcode.png') }}" alt="leetcode"></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="#"><img class='header_img' src="{{ url_for('static', filename='img/telegram.png') }}" alt="telegram"></a></li>
            </ul>
          </footer>
    </div>
</body>
</html>