{% extends 'main/base.html' %}

{% block title %}
    Создание Тренировки
{% endblock title %}

{% block content %}
    <form method="post" class="form-control">
        <input name="trainingName" type="text" placeholder="Название Тренировки" class="form-control">
        <input name="muscleGroups" type="text" placeholder="Название Тренировки" class="form-control">
        <input name="numberOfTimes" type="text" placeholder="Количество раз за подход" class="form-control">
        <input name="numberOfSets" type="text" placeholder="Количество подходов" class="form-control">
        <input value="Добавить" type="submit" class="btn btn-success">
    </form> 
{% endblock content %}
